extends agenttemp 
block content
      h2 #{suppliercontact.SupConCompany}
      h4 Contact Name:  #{suppliercontact.SupConFirstName} #{suppliercontact.SupConLastName}
      h4 Email: #{suppliercontact.SupConEmail}
      h4 Business Phone Number:  #{suppliercontact.SupConBusPhone} 
      h4 Fax Number #{suppliercontact.SupConFax}
      h4 Address: #{suppliercontact.SupConAddress}, #{suppliercontact.SupConCity}, #{suppliercontact.SupConProv}, #{suppliercontact.SupConCountry}, #{suppliercontact.SupConPostal}
      h4 Supplier Contact Website: #{suppliercontact.SupConURL}